{require_min_otp_vsn, "R16"}.
{erl_opts, [{i, "include"},
    {src_dirs, ["src", "test"]},
    {parse_transform, lager_transform}
]}.
{sub_dirs, ["rel"]}.
{lib_dirs, ["lib", "plugins"]}.
{deps_dir, ["deps"]}.
{deps, [
    {elog, ".*", {git, "git://github.com/yunba/elog.git", {branch, "master"}}},
    {eredis_pool, ".*", {git, "https://github.com/yunba/eredis_pool.git", {branch, "master"}}},
    {embedded_redis, ".*",
        {git, "https://github.com/gossiperl/erl_embedded_redis.git", {tag, "3.0.3"}}}
]}.
{erl_opts, [debug_info, fail_on_warning]}.
