{require_min_otp_vsn, "R16"}.
{erl_opts, [{i, "include"},
    {src_dirs, ["src", "test"]},
    {parse_transform, lager_transform}
]}.
{sub_dirs, ["rel"]}.
{lib_dirs, ["lib", "plugins"]}.
{deps_dir, ["deps"]}.
{deps, [
    {lager, ".*", {git, "https://github.com/basho/lager.git", "master"}},
    {eredis_pool, ".*", {git, "https://github.com/yunba/eredis_pool.git", {branch, "master"}}}
]}.
{erl_opts, [debug_info, fail_on_warning]}.
